<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For Camera -->
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- Android 13+ (Tiramisu) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- For Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Optional for older devices -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="BreastScan"
        android:supportsRtl="true"
        android:theme="@style/Theme.BreastScan"
        tools:ignore="WrongManifestParent">

        <activity android:name=".OCRReportActivity" />

        <!-- REQUIRED for camera file handling -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Activities -->

        <activity android:name=".ImagePredictionActivity" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ImageResultActivity" />
        

        <activity
            android:name=".FormPredictionActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ChatbotActivity"/>

        <activity android:name=".InfoActivity"/>

        <activity android:name=".TermsActivity"/>

        <activity android:name=".PrivacyActivity"/>



        <activity android:name=".ResultActivity"
            android:launchMode="singleTop"/>

        <!-- Launcher Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
